.bgheading {
	background-color: #98FB98;
}
.welcome {
	font-size: 20px;
	font-family: cursive;
	font-style: italic;
}
.rmbutton {
	background-color: #FF0000;
	border: 1px solid black;
}
.imsize {
	width: 50px;
	height: 50px;
}
.border {
	border: 1px solid black;
}
.centeralign {
	text-align: center;
}
td,th{
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid black;
	text-align: left;
}
table {
	border-collapse: collapse;
}
.backgroundgrey {
	background-color: #404040;
	color: white;
}