#nav
{
	background-color: #98FB98;
	font-size: 50px;
}

body
{
	text-align: center;
}

.food-img
{
	height: 40px;
}

.addbutton
{
	background-color: #98FB98;
	border: 1px dashed white;
	border-radius: 10px;
}

.cart
{
	padding: 2px;
}